/* neuton-regular - latin */
@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url('../fonts/neuton-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Neuton Regular'), local('Neuton-Regular'),
         url('../fonts/neuton-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/neuton-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/neuton-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/neuton-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/neuton-v11-latin-regular.svg#Neuton') format('svg'); /* Legacy iOS */
  }